
.carousel img{
    border-radius: 10px;
}

.photo{
    border-radius: 50% !important; 
    height: 40px;
    width: 40px;
}

.btn-transperant:focus{
    border: none !important; 
}

.btn-transperant{
    border: none !important;
}

.carousel-item img {
    width: 100%;
    aspect-ratio: 16 / 9; /* Adjust this as needed, e.g., 4/3, 1/1, etc. */
    object-fit: cover;
    object-position: center;
}
