
.carousel img{
    border-radius: 10px;
}

.photo{
    border-radius: 50% !important; 
    height: 40px;
    width: 40px;
}

.btn-transperant:focus{
    border: none !important; 
}

.btn-transperant{
    border: none !important;
}

.carousel-item img {
    width: 100%;
    height: 75vh; /* Default height for large screens */
    object-fit: cover;
    object-position: center;
}

/* Adjust for smaller screens */
@media (max-width: 576px) {
    .carousel-item img {
        height: 300px;  /* Slightly larger than 100px for better visibility */
    }
}
