.brand {
  font-weight: 450;
}

.bus-img{
  width: 100%; /* Makes the image responsive */
  aspect-ratio: 16 / 9; /* Adjust this as needed, e.g., 4/3, 1/1, etc. */
  object-fit: cover; /* Ensures the image fills the area without distortion */
  object-position: center;
}