.brand {
  font-weight: 450;
}

.bus-img{
  width: 100%; /* Makes the image responsive */
  aspect-ratio: 16 / 9; /* Adjust this as needed, e.g., 4/3, 1/1, etc. */
  object-fit: cover; /* Ensures the image fills the area without distortion */
  object-position: center;
}

.busCard{
  position: relative;
}

.ribbon{
  height: 25px;
  width: 200px;
  position: absolute;
  right: -50px;
  transform: rotate(40deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
} 