.profilePic{
    border-radius: 50%;
    font-size: 35px;
    font-weight: 600;
    height: 60px;
    width: 60px;
    background-color: var(--neutral-300);    
}

.vl{
    height: 80px;
    border-left: 2px solid rgb(158, 154, 212);
    color: black;
}