
.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--primary-500);
  background-color: white;
  color: black;
  border-radius: 15px;
  transition: all ease 0.2s;
  text-align: center;
  flex-basis: 0;
  width: auto;
  font-size: 13px;
}

.button-group input[type="radio"]:checked + label {
  background-color: var(--primary-400);
  color: rgb(0, 0, 0); 
  border: 1px solid var(--primary-500);
}

.button-group input[type="checkbox"] {
  display: none;
}

.button-group label {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--primary-500);
  background-color: white;
  color: black;
  border-radius: 15px;
  transition: all ease 0.2s;
  text-align: center;
  flex-basis: 0;
  width: auto;
  font-size: 13px;
}

.button-group input[type="checkbox"]:checked + label {
  background-color: var(--primary-400);
  color: rgb(0, 0, 0);
  border: 1px solid var(--primary-500);
}


fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
